---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('/**/*.mdx', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())].sort();
const pageTittle = "Tag Index";
---
<BaseLayout pageTitle={pageTittle}>
    <main data-pagefind-ignore="all">
        <div class="tags">
            {tags.map((tag) => (
                <p class="tag"><a href={`/posts/${tag}`} target="_blank">~ {tag}</a></p>
            ))} 
        </div>
    </main>
</BaseLayout>

<style>
    a {
        text-decoration: none;
        color: var(--light-text);
        transition: color 0.2s ease;
    }

    a:hover, a:focus {
        color: var(--hover-color);
    }

    html.dark a {
        color: var(--dark-text);
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        line-height: 1.2;
    }

    .tag {
        margin: 0 1rem 0.5rem 0;
        /* border: dotted 1px #a1a1a1; */
        border-radius: .5em;
        /* padding: .5em 1em; */
        font-size: 1.1em;
        /* background-color: #F8FCFD; */
    }
</style>