:root {
    --dark-background: #151515;
    --light-background: #f1f5f9;
    --dark-text: #f1f5f9;
    --dark-text-opacity: #f1f5f9b3;
    --light-text: #333333;
    --light-text-opacity: #333333b3;
    --hover-color: #fc7d0b;
    /* --border-color: 1px solid #ccc; */
    --border-color: 2px solid #1170aa;
    --highlight-color: #1170aa;
    --image-border: 1px solid #ccc;
    --button-background: #ccc;
    --viz-background: #f5f5f5;
    --title-letter-spacing: 0.2em;
    --title-letter-spacing-small: 0.05em;

}

/* Register font */
/* @font-face {
    font-family: "IM Fell English";
    src: url("/fonts/im-fell-english-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
@font-face {
    font-family: 'IM Fell English';
    src: url('/fonts/im-fell-english-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0 auto;
    font-family: 'IM Fell English', serif;
    font-size: 1.2rem;
    /* margin: 0 1rem 0 1rem; */
    /* padding: 0 1rem 0 1rem; */
    /* font-family: 'IMFellEnglish', serif; */
    width: 100%;
    line-height: 1.5;
    background-color: var(--light-background);
    color: var(--light-text);
}

h1 {
    font-size: 2.5rem;
}

/* title page */
.title-page {
  text-align: center;
  /* font-size: 2rem; */
  font-weight: normal;
  max-width: 100%;
  word-spacing: 0.3em;
  margin: 1.5rem auto;
  line-height: 1.2;
  text-wrap: pretty;
}

p.title-page {
  word-spacing: normal;
  max-width: 100%;
  /* margin: 0 auto; */
}

@media screen and (min-width: 636px) {
  .title-page {
    /* font-size: 3rem; */
    max-width: 100%;
    word-spacing: 0.3em;
  }

  p.title-page {
    max-width: 70%;
  }
}

a, p, h1, h2, h3 {
  color: inherit;
  /* color: #333333E6; */
}

a {
  /* text-decoration: none; */
  transition: color 0.2s ease;
}


/* Theme Icons */
html.dark body {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

a:hover,
a:focus {
  color: var(--hover-color);
}

/* mdx css, footnote */
/* Remove underline from footnote reference links */
sup a {
  text-decoration: none;
}

/* Remove underline from footnote return arrow */
.footnotes h2 {
  display: none;
}
.footnotes a {
  text-decoration: none;
}
.footnotes p {
  font-size: 1rem;
}

cite {
  font-style: normal;
}

blockquote {
  /* font-style: italic; */
  margin: 2rem 0 2rem 2rem;
  padding-left: 1rem;
  border-left: var(--border-color);
}

/* Image tag image */
.responsive-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  border: var(--image-border);
}

/* shiki theme */
.astro-code,
.astro-code span {
  background-color: var(--viz-background) !important;
}

.astro-code {
    border: var(--image-border) !important;
}

.astro-code span {
    font-size: 1.0rem !important;;
}

/* @media screen and (min-width: 636px) {
  .astro-code,              
  .astro-code span {
    font-size: 1.0rem !important;
  }
} */