html {
    /* background-color: #f1f5f9; */
    background-color: var(--light-background);
    font-family: sans-serif;;
}

body {
    margin: 0 auto;
    width: 100%;
    /* max-width: 80ch; */
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

:root {
    --dark-background: #333333;
    --light-background: #f1f5f9;
    --dark-text: #f1f5f9;
    --light-text: #333333;
    --hover-color: goldenrod;
}
h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
  /* text-decoration: none; */
  color:var(--light-text);
}

p, h1, h2{
  color: var(--light-text);
}

/* Theme Icons */
html.dark {
  background-color: var(--dark-background);
}

html.dark a, p, h1, h2 {
  color: var(--dark-text);
}

/* html.light {
  background-color: var(--light-background);
}

html.light a, p, h1, h2, details {
  color: var(--light-text);
} */

a:hover,
a:focus {
  color: var(--hover-color);
}

html.dark a:hover,
a:focus {
  color: var(--hover-color);
}

