:root {
    --dark-background: #151515;
    --light-background: #f1f5f9;
    --dark-text: #f1f5f9;
    --light-text: #333333;
    --hover-color: goldenrod;
    --border-color: 1px solid #ccc;
}

html {
    /* background-color: #f1f5f9; */
    /* background-color: var(--light-background); */
    font-family: sans-serif;
    /* color: var(--light-text); */
}

body {
    /* margin: 0 auto; */
    margin: 0;
    padding: 0 0.5rem 0 0.5rem;
    width: 100%;
    line-height: 1.5;
    background-color: var(--light-background);
    color: var(--light-text);
}

* {
    box-sizing: border-box;
}


h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a, p, h1, h2 {
  color: inherit;
}


/* Theme Icons */

html.dark body {
  background-color: var(--dark-background);
  color: var(--dark-text);
}


a:hover,
a:focus {
  color: var(--hover-color);
}


