---
import BaseLayout from '../layouts/BaseLayout.astro';
import SelectedPosts from '../components/ui/SelectedPosts.astro';
// const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const {frontmatter } = Astro.props;
const pageTitle = "About"
const description = "What is a diagrammatic plane?"
// const index = 'digitalFormalism'
---
<BaseLayout pageTitle={pageTitle} description={description}>
    <h2>Coming Soon ...</h2>
</BaseLayout> 

