---
import BaseLayout from '../layouts/BaseLayout.astro';
import SearchText from '../components/searchUi/SearchText.astro';
// src data
import data from '../data/deleuzian/theDeleuzeSeminars.json';

export const prerender = false;

const pageTitle = "Deleuzian";
const description = "In-text search UI for the Deleuze Seminars.";

// You can customize these keys to match your data structure
const fields = {
  author: "author",
  title: "title",
  date: "date",
  url: "url",
  text: "text"
};
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h3>Search UI for
    <a href="https://deleuze.cla.purdue.edu/seminars/" target="_blank">the Deleuze Seminars</a>
  </h3>
  <SearchText data={data} fields={fields} />
</BaseLayout>
