---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Digital Tropology"
const description = "Of Stratas and Historical Formations"
---

<BaseLayout pageTitle={pageTitle} description={description}>
    <h3>Search UI</h3>
    <ul>
        <li>
            <a href="../searchUI?searchTerm=network" target="_blank">Search UI for L=A=N=G=U=A=G=E</a>
        </li>
        <li>
            <a href="../deleuzian1?searchTerm=mathematical+sublime" target="_blank">Search UI for the Deleuzian</a>
        </li>
        <li>
            <a href="../deleuzian2?searchTerm=diagram" target="_blank">Word2vec Viz for the Deleuzian</a>
        </li>
        <li>
            <a href="../deleuzian3?searchTerm=oceanic" target="_blank">Similarity Search UI for the Deleuzian</a>
        </li>
        <li>
            <a href="../deleuzian" target="_blank">Test</a>
        </li>
    </ul>

</BaseLayout>