---
import BaseLayout from '../layouts/BaseLayout.astro';
import UiShowcase from '../components/ui/UiShowcase.astro';
const pageTitle = "Digital Tropology"
const description = "Of Stratas and Historical Formations"
---

<BaseLayout pageTitle={pageTitle} description={description}>
    <h3>Search UI</h3>
  
    <UiShowcase 
        pageTitle="Search UI"
        description="Spectrogram Visualization"
        imageUrl="/images/macro-rhythm.jpg"
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/deleuzian1?searchTerm=mathematical+sublime"
    />
    <UiShowcase 
        pageTitle="Word2vec"
        description="Spectrogram Visualization"
        imageUrl="/images/macro-rhythm.jpg"
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/deleuzian2?searchTerm=diagram"
    />
    <UiShowcase 
        pageTitle="Similarity Search"
        description="Spectrogram Visualization"
        imageUrl="/images/macro-rhythm.jpg"
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/deleuzian3?searchTerm=diagram"
    />
    <UiShowcase 
        pageTitle="Query Search"
        description="Spectrogram Visualization"
        imageUrl="/images/macro-rhythm.jpg"
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/deleuzian4?searchTerm=diagram+archive"
    />
</BaseLayout>