---
import BaseLayout from '../layouts/BaseLayout.astro';
import UiShowcase from '../components/UiShowcase.astro';
const pageTitle = "Digital Formalism"
const description = "Audio visualization"
---

<BaseLayout pageTitle={pageTitle} description={description}>
    <!-- <h3>Audio Viz</h3>
    <ul>
        <li>
            <a href="/poema" target="_blank">Test</a>
        </li>
        <li>
            <a href="/poema1" target="_blank">Praat display for &ldquo;The Red Wheelbarrow&rdquo;</a>
        </li>
        <li>
            <a href="/poema2" target="_blank">Praat display (w/ spectrogram) for &ldquo;The Red Wheelbarrow&rdquo;</a>
        </li>
    </ul> -->

    <UiShowcase 
        pageTitle="Poema"
        description="Spectrogram Visualization"
        imageUrl="/images/Poema3.png"
        imageAlt="The Astro logo on a dark background with a pink glow"
        srcPath="/poema1"
    />

    <UiShowcase 
        pageTitle="Poema"
        description="Poema implements Praat display on the browser, and it extends the Tones and Breaks Indices (ToBI) framework by including beats and text to analyze rhythm and enjambments of verse."
        imageUrl="/images/Poema4.png"
        imageAlt="Audio visualization and annotation of The Red Wheelbarrow"
        srcPath="/poema2"
    />

</BaseLayout>