---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Digital Tropology"
const description = "Of Stratas and Historical Formations"
---

<BaseLayout pageTitle={pageTitle} description={description}>

    <!-- <a href="../searchUi/" target="_blank">Search UI</a> -->

</BaseLayout>