---
import BaseLayout from '../layouts/BaseLayout.astro';
import SelectedPosts from '../components/SelectedPosts.astro';
// const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const {frontmatter } = Astro.props;
const pageTitle = "Digital Archaeology"
const index = 'digitalArchaeology'
---
<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
        <div class="selected-posts">
            <SelectedPosts 
                frontmatter={frontmatter} 
                index={index} 
            />
        </div>
</BaseLayout> 

