---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Digital Tropology"
const description = "Of Stratas and Historical Formations"
---

<BaseLayout pageTitle={pageTitle} description={description}>

    <a href="../searchUI/" target="_blank">In-text Search UI</a>

</BaseLayout>