---
import BaseLayout from '../layouts/BaseLayout.astro';
import SearchText from '../components/SearchText.astro';
import data from '../data/digitalTropology/language.json';

export const prerender = false;

const pageTitle = "Search UI";
const description = "In-text search UI";

// You can customize these keys to match your data structure
const fields = {
  author: "author",
  title: "shortTitle",
  date: "date",
  url: "url",
  text: "text"
};
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h3>Search UI for
    <a href="http://eclipsearchive.org/projects/LANGUAGE/" target="_blank">L=A=N=G=U=A=G=E</a></a>
  </h3>
  <SearchText data={data} fields={fields} />
</BaseLayout>
