---
import BaseLayout from '../layouts/BaseLayout.astro';
import SelectedPosts from '../components/ui/SelectedPosts.astro';
// const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const {frontmatter } = Astro.props;
const pageTitle = "Tableau"
const description = "Data analysis and visualization with Tableau"
const index = 'tableau'
---
<BaseLayout pageTitle={pageTitle} description={description}>
    <h2>Coming Soon ...</h2>
</BaseLayout> 

