---
const {title, url, description } = Astro.props;
const isActive = Astro.url.pathname === `${url}/`;
---
<li>
  <a href={`${url}/`} class={isActive ? 'active' : ''}>{title}</a>
  <p>{description}</p>
</li>

<style>
    li {
        list-style: square;
    }

    li::marker {
        color: var(--hover-color);
    }

    li p {
        border-left: var(--border-color);
        margin: 0 0 0.5rem -0.75rem;
        padding-left: 0.75rem;
    }

    a {
        text-decoration: none;
    }

    a:hover, a:focus {
        color: var(--hover-color);
    }
    
    /* same page url */
    a.active {
        font-weight: bold;
        color: var(--highlight-color);
        /* border-bottom: var(--border-color); */
    }

    html.dark a.active {
        color: var(--highlight-color);
    }

    p {
        margin: 0 0 1rem 0;
    }
</style>