---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcons from "./ThemeIcons.astro";
---
<header>
    <nav>
        <Hamburger />
        <ThemeIcons />
        <Navigation />
    </nav>
</header>

