---
import Hamburger from "./Hamburger.astro";
// import Navigation from "./Navigation.astro";
import ThemeIcons from "./ThemeIcons.astro";
---
<header>
    <nav>
        <div class="nav-top">
            <div class="nav-left">
                <Hamburger />
                <a href="/">~ DR ~</a>
            </div>
            <div class="nav-right">
                <ThemeIcons />
            </div>
        </div>
    </nav>

</header>

<style>

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* min-height: 2rem; */
    border-bottom: var(--border-color);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
nav a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--light-text);
}

nav a:hover,
a:focus {
    color: var(--hover-color);
}

html.dark nav a {
    color: var(--dark-text);
}

html.dark nav a:hover,
html.dark a:focus {
    color: var(--hover-color);
}

</style>
