---
import Hamburger from "./Hamburger.astro";
// import Navigation from "./Navigation.astro";
import ThemeIcons from "./ThemeIcons.astro";
---
<header>
    <nav>
        <div class="nav-top">
            <div class="nav-left">
                <Hamburger />
                <a href="/">~ DR ~</a>
            </div>
            <div class="nav-right">
                <ThemeIcons />
            </div>
        </div>
    </nav>

</header>

<style>


.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
    border-bottom: 1px solid #ccc;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
nav a {
    text-decoration: none;
    font-size: 1.5rem;
}

</style>
