---
import DropDown from "./DropDown.astro"
---
<div class="nav-bar">
  <!-- <a href="/home">Home</a> -->
    <DropDown 
        label="Digital Poetics", 
        links={[
            {href: "/digitalArchaeology/", text: "Digital Archaeology"},
            {href: "/digitalFormalism/", text: "Digital Formalism"},
         ]}, 
        pages={[{ href: "/", text: "Home"}]}
        pagesPosition="above"
    />
    <DropDown 
        label="Data Analytics", 
        links={[
            {href: "/tableau/", text: "Tableau"}
         ]},
        pages={[{href: "/blog/", text: "Blog"},
                {href: "/tags/", text: "Tags" },
                {href: "/about/", text: "About"}
        ]}
        pagesPosition="below"
    />
</div>

<style>


.nav-bar {
  /* position: static; */
  width: 100%;
  /* left: 48px; */
  left: 0;
  /* background-color: #0d0950; */
  display: none;
  /* position: fixed; */
  /* z-index: 10; */
  /* margin: 0 1rem 0 0; */
  /* padding: 0 1rem 0 1rem; */
}

.expanded {
  display: block;
}

@media screen and (min-width: 636px) {
  .nav-bar {
    /* margin-left: 0.5rem; */
    /* margin-left: 1rem; */
    display: block;
    position: static;
    width: 17rem;
    background: none;
  }
}

</style>