---
import DropDown from "./DropDown.astro"
---
<div class="nav-links">
    <DropDown 
        label="Home" 
        links={[
            {href: "/about", text: "About"},
            {href: "/blog", text: "Blog"},
    ]}
</div>
