---
const {platform, username} = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
a {
    padding = 0.5rem 1rem;
    color: var(--light-text);
    text-decoration: none;
}

html.dark a {
    color: var(--dark-text);
}
html.light a {
    color: var(--light-text);
}
</style>