---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon/DR.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<div class="layout">
			<Navigation />
			<main>
				<h1>{pageTitle}</h1>
				<slot />
			</main>
		</div>
		<Footer />
		<script>
			import "../scripts/menu.js"
		</script>
	</body>
</html>

<style>
.layout {
    display: block;
    /* min-height: 80vh; */
	padding: 0 1rem 0 1rem;
}

main {
	max-width: 90vw;
	margin: 0 auto;
}
@media screen and (min-width: 636px) {
  .layout {
		display: flex;
    	min-height: 80vh;
  }

  main {
	max-width: 55vw;
	margin: 0 1rem 0 1rem;
  }
}
/* .layout > header, .layout > Header {
    flex-shrink: 0;
} */

</style>
