---
const {title, url, description } = Astro.props;
const isActive = Astro.url.pathname === `${url}/`;
---
<li>
  <a href={`${url}/`} class={isActive ? 'active' : ''} target="_blank">{title}</a>
  <p>{description}</p>
</li>

<style>
    li {
        /* list-style: square; */
        list-style-type: "~ ";
    }

    li::marker {
        color: var(--light-text);
        transition: color 0.2s ease;
    }

    html.dark li::marker {
        color: var(--dark-text);
    }

    li p {
        /* border-left: var(--image-border); */
        color: var(--light-text-opacity);
        /* margin: 0 0 1rem -0.70rem; */
        /* padding-left: 0.70rem; */
        font-size: 1rem;
        line-height: var(--line-height-sm);
    }

    html.dark li p {
        color: var(--dark-text-opacity);
    }

    li:has(> a:hover)::marker,
    li:has(> a:focus)::marker {
        color: var(--hover-color);
    }

    a {
        text-decoration: none;
        display: block;
        line-height: var(--line-height-sm);
        transition: color 0.2s ease;
    }

    a:hover, a:focus {
        color: var(--hover-color);
    }

    /* li::marker:hover, li::marker:focus {
        color: var(--hover-color);
    } */
    
    /* same page url */
    a.active {
        font-weight: bold;
        color: var(--highlight-color);
        /* border-bottom: var(--border-color); */
    }

    li:has(> a.active)::marker {
        color: var(--highlight-color);
    }

    /* li:has(> a.active) p {
        border-left: var(--border-color);
    } */

    html.dark a.active {
        color: var(--highlight-color);
    }

    p {
        margin: 0 0 0 0;
    }

    @media screen and (min-width: 636px) {
        li p {
        /* border-left: var(--image-border); */
        margin: 0 0 0 -0.70rem;
        padding-left: 0.70rem;
    }

    }
</style>