---
import Social from "./Social.astro";
import { Image } from "astro:assets";
import githubIcon from "../../assets/images/favicon/github.svg";
import linkedinIcon from "../../assets/images/favicon/linkedin.svg";
// src image
import drLogo from "../../assets/images/favicon/DR.png"

---
<!-- <footer>
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="digitalpoetics" />  
</footer> -->

<footer>
  <div class="columns">
    <div class="column">
        <!-- <p>Made with Astro</p> -->

        <Social platform="github" username="digitalpoetics/dr">
          <Image 
            src={githubIcon}
            alt="Github logo"
            width={30}
            height={30}
          />
        <Social />

        <Social platform="linkedin" username="in/ankit-basnet-46603b73/" >
          <Image 
            src={linkedinIcon}
            alt="Github logo"
            width={30}
            height={30}
          />
        <Social/>

    </div>
    <div class="column">
        <p>&copy; {new Date().getFullYear()} All Rights Reserved</p>
        <!-- <a href="/">
            <Image 
              src={drLogo} 
              alt="Diagrammatic Readings" 
              width={30} 
              height={30} 
            />
        </a> -->
        <Social platform="diagrammaticreadings" username="">
            <Image 
              src={drLogo} 
              alt="Diagrammatic Readings" 
              width={30} 
              height={30}
              class="dr-logo" 
            />
        </Social>
    </div>
  </div>
</footer>

<style>
  /* footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    border-top: var(--border-color);
  } */

.columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 0 0;
  padding: 1rem 0 1rem 0;
  border-top: var(--border-color);
}

/* .column {
  flex: 1;
} */

.column {
  text-align: center;
  margin-bottom: 0;
  color: var(--light-text);
  flex: 1;
}

html.dark .column {
  color: var(--dark-text);
}

@media screen and (min-width: 636px) {
  .columns {
    flex-direction: row;
    align-items: center;
  }
}

/* github icon */
img:hover {
    background-color: var(--hover-color);
}

html.dark img {
    filter: invert(1);
}

/* dr-logo */
.dr-logo {
    filter: invert(1);
}

html.dark .dr-logo {
    filter: invert(0);
}

html.dark img:hover {
    background-color: var(--hover-color);
}

</style>