---
// Props: id (string), content (string)
const { id, content } = Astro.props;
---
<li id={`footnote-${id}`} value={id}>
  <span set:html={content} />
  <a href={`#ref-${id}`} aria-label="Back to reference">↩</a>
</li>

<style>
  li {
    font-size: 1rem;
    margin: 0.5rem 0 1rem 0;
  }
  
</style>
