---
import Hamburger from "./Hamburger.astro";
// import Navigation from "./Navigation.astro";
import SearchWidget from "../fuse/SearchWidget.astro";
import ThemeIcons from "./ThemeIcons.astro";
---
<header>
    <nav>
        <div class="nav-top">
            <div class="nav-left">
                <Hamburger />
                <a href="/">~ DR ~</a>
            </div>
            <div class="nav-right">
                  <SearchWidget 
                        placeholder="Search ~ DR ~"
                        redirectUrl="/fuse"
                    />
                <ThemeIcons />
            </div>
        </div>
    </nav>

</header>

<style>
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--light-background);
  z-index: 100;
}

html.dark header {
    background-color: var(--dark-background);
}
.nav-top {
    display: flex;
    max-width: 100vw;
    align-items: center;
    justify-content: space-between;
    /* min-height: 2rem; */
    /* margin: 0 0 0 0; */
    padding: 0.5rem 0.5rem 0cm 1rem;
    border-bottom: var(--border-color);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* padding: 0 1rem 0 1rem; */
}

.nav-right {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 0.5rem;
    /* padding: 0 0 0 0; */
    /* box-sizing: border-box; */
    /* justify-content: flex-end; */
}

nav a {
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--light-text);
}

nav a:hover,
a:focus {
    color: var(--hover-color);
}

html.dark nav a {
    color: var(--dark-text);
}

html.dark nav a:hover,
html.dark a:focus {
    color: var(--hover-color);
}

</style>
