---
import DropDown from "./DropDown.astro"
---
<div class="nav-bar">
  <!-- <a href="/home">Home</a> -->
    <DropDown 
        label="Digital Poetics", 
        links={[
            {href: "/digital-archaeology/", text: "Digital Archaeology"},
            {href: "/digital-tropology/", text: "Digital Tropology"},
            {href: "/digital-formalism/", text: "Digital Formalism"},
         ]}, 
        pages={[{ href: "/", text: "Home"}]}
        pagesPosition="above"
    />
    <DropDown 
        label="Data Analytics", 
        links={[
            {href: "/tableau/", text: "Tableau"}
         ]},
        pages={[{href: "/posts/", text: "Posts"},
                {href: "/about/", text: "About"}
        ]}
        pagesPosition="below"
    />
</div>

<style>

.nav-bar {
  display: none;
  position: fixed;
  top: 3.2rem; /* Adjust to your header height */
  left: 0;
  width: 100vw;
  height: calc(100vh - 3.2rem); /* Subtract header height */
  background-color: var(--light-background);
  z-index: 1000;
  padding: 1rem;
  border: var(--image-border);
  box-sizing: border-box;
  overflow-y: auto;
}

html.dark .nav-bar {
  background-color: var(--dark-background);
}

.expanded {
  display: block;
}

/* Hide body scroll when navigation is open - small screens only */
@media screen and (max-width: 635px) {
  body:has(.nav-bar.expanded) {
    overflow: hidden;
  }
}


@media screen and (min-width: 636px) {
  .nav-bar.expanded {
    width: 17rem;
    height: calc(100vh - 3.2rem); /* Subtract header + footer height */
    left: 0;
    right: auto;
  }
}


</style>